.top {
    height: auto;
    overflow: hidden;
    padding: 10px 10px 0 10px;
}

.row {
    height: auto;
    overflow: hidden;
    padding: 5px;
}

.menu {
    height: auto;
    overflow: hidden;
    margin-top: 10px;
}

.menu-item {
    width: calc(33.33% - 3.33px);
    float: left;
    border: 1px solid #43ebfd;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-width: 0px;
    margin: 0px 5px;
    cursor: pointer;
}

.menu-item:nth-child(1) {
    margin-left: 0px;
}
.menu-item:nth-child(2) {
    margin: 0px;
}
.menu-item:nth-child(3) {
    margin-right: 0px;
}

.menu-item a {
    display: block;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.menu-item .active,
.menu-item:hover {
    background-color: rgba(255,255,255, .05);
}

.menu-item .svg-inline--fa {
    width: 1.5em;
    height: 1.5em;
    color: #fff;
}

.menu-item .svg-inline--fa:hover, .menu-item .active .svg-inline--fa, .menu-item:hover .svg-inline--fa {
    color: #fff;
}

.content {
    min-height: 200px;
    border-top-width: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 5px 10px 5px;
}

.content h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
}

.top-content-area img {
    max-height: 50px;
    margin: 0px 30px;
    float: left;
}

.top-content-area .row > div {
    float: left;
}

.top-content-area .row > div span {
    width: 100%;
    display: block;
}

.top-content-area .row > div a {
    width: 100%;
    display: block;
    cursor: pointer;
    color: #242943;
    text-decoration: underline;
}

.top-content-area .row {
    padding-top: 10px;
}

.profile-content-area {
    border-left: 1px solid #43ebfd;
    border-right: 1px solid #43ebfd;
}

.info-content-area .label {
    font-weight: 600;
    width: 25%;
    float: left;
    text-align: left;
}

.info-content-area, .tools .row, .profile .profile-content-area .row:last-child {
    border: 1px solid #43ebfd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-width: 0px;
}

.info-content-area .value {
    width: 65%;
    float: left;
}

.info-content-area .address .label {
    width: 100%;
}

.info-content-area .address .value {
    width: 100%;
    padding: 5px;
    font-size: 10px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    color: #000;
    position: relative;
}

.info-content-area .address .value img {
    position: absolute;
    right: 1px;
    top: 7px;
    width: 10px;
    height: 9px;
}

.info-content-area .action {
    width: 10%;
    float: left;
}

.user-info {
    padding: 10px 15px;
}

.user-info .hover-text,
.user-info .hover-prof {
    width: 25%;
    float: left;
    position: relative;
    cursor: pointer;
}

.user-info .hover-text:hover::after,
.user-info .hover-prof:hover::after {
    content: 'OPEN \A 3BOX';
    position: absolute;
    bottom: 0px;
    line-height: 12px;
    font-weight: 600;
    color: #fff;
    background-color: #43ebfd;
    width: 100%;
    left: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 9px;
    white-space: pre;
}

.user-info .hover-prof:hover::after {
    content: 'PROFILE';
    line-height: 24px;
}

.user-info .info {
    width: 75%;
    float: left;
    text-align: left;
    padding-left: 30px;
}

.user-info .info p{
    margin-bottom: 0px;
}

.user-info .info span {
    display: block;
    width: 100%;
}

.counters p {
    display: inline-block;
    width: 30%;
    float: left;
    margin: 10px 1.5%;
}


.counters span.number {
    font-size: 20px;
    width: 100%;
    display: block;
}

.profile {
    position: relative;
}

.profile .desc {
    text-align: justify;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    display: block;
    z-index: 2;
}

.overlay .btn {
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
}

.hidden {
    display: none;
}

.btn {
    border-radius: 5px;
    padding: 10px;
    background-color: #43ebfd;
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background-color: #42acfd;
    color: #fff;
}

.logout-btn {
    float: right;
}

span.logo {
    background-color: #fff;
    color: #242943;
    display: inline-block;
    line-height: 1.65em;
    margin-right: 0.325em;
    padding: 0 0.375em 0 0.375em;
    font-weight: 600;
}

.wallet {
    background-color: #2d2b83;
    font-size: 12px;
    color: #fff;
    width: 300px;
}

.wallet img,
.profile img {
    width: 100%;
}
