.top {
    height: auto;
    overflow: hidden;
    padding: 0 10px;
}

.menu {
    height: auto;
    overflow: hidden;
    margin-top: 10px;
}

.menu-item {
    width: calc(33.33% - 20px);
    float: left;
    border: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-width: 0px;
    margin: 0px 10px;
    padding: 10px;
}

.menu-item .svg-inline--fa {
    width: 1.5em;
    height: 1.5em;
    color: #ccc;
}

.menu-item .svg-inline--fa:hover {
    color: rgb(64, 153, 255);
}

.content {
    min-height: 200px;
    border: 1px solid #ccc;
    border-top-width: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 10px 10px 10px;
}

.content h2 {
    margin-top: 0px;
    font-size: 30px;
}

.top-content-area img,
.top-content-area span {
    float: left;
}

.top-content-area a {
    float: right;
}

.info-content-area .label {
    font-weight: 600;
    width: 30%;
    float: left;
}

.info-content-area .value {
    width: 60%;
    float: left;
}

.info-content-area .action {
    width: 10%;
    float: left;
}

.user-info > img {
    width: 30%;
    float: left;
}

.user-info > div {
    width: 70%;
    float: left;
}

.user-info > div span {
    display: block;
    width: 100%;
}

.counters span {
    display: inline-block;
    width: 30%;
    float: left;
    margin: 10px 1.5%;
}

.profile {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

.btn {
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(64, 153, 255);
    color: #fff;
    cursor: pointer;
    display: inline-block;
}

.btn:hover {
    background-color: rgba(64, 153, 255, 0.9);
}

.logout-btn {
    float: right;
}

.row {
    height: auto;
    overflow: hidden;
    padding: 5px 20px;
}
